button {
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-primary {
  width: auto;
  min-width: 100px;
  height: 20px;
  background-color: hsl(180, 94%, 35%);
  border-color: darkgray;

  border-radius: 5px;
  padding: 0 20px;
  margin: 0;
}